.welcome
  .container
    %h1= t('.title')
    %p= t('.body')
    = link_to new_site_path, class: 'btn btn-primary btn-lg' do
      %i.glyphicon.glyphicon-edit.glyphicon-white
      = t('nav.sites.new')
