body.top
  >.navbar.navbar-default
    border: none
    margin: 0
  .welcome
    background-color: $navbar-default-bg
    color: $white-text
    height: 250px
    h1
      margin-top: 65px
    p
      color: $white-sub-text
  >.container
    position: relative
    ul.sns
      margin-top: 10px
      right: 0
      position: absolute

body.sites
  ul.sites
    >li
      margin-bottom: 20px

  .twitter-widget
    margin-top: 45px

ul.providers
  li
    margin: 0 10px 10px 0
    a
      width: 280px

