body.top
  >.navbar.navbar-default
    border: none
    margin: 0

body.sites
  ul.sites
    >li
      margin-bottom: 20px

  .twitter-widget
    margin-top: 45px

ul.providers
  li
    margin: 0 10px 10px 0
    a
      width: 280px
