@media (min-width: 980px) {
    body {
      padding-top: 60px;
    }
}

p {
  word-wrap: break-word;
}

img.face {
  border-radius: 3px;
}

a.brand {
  padding: 0 20px !important;
  line-height: 0 !important;
}

li.dropdown {
  img.face {
    vertical-align: bottom;
  }
}

ul.sns {
  margin-left: 0;
  >li {
    display: inline-block;
    vertical-align: middle;
  }
}

ul.providers {
  >li {
    display: inline-block;
  }
}

section#show {
  padding-top: 15px;
  h1 {
    margin-bottom: 10px;
  }
  >div {
    >* {
      color: #555;
    }
    >h3 {
      color: #333;
    }
  }
}

ul.same_creators {
  >li {
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

section.login {
  padding-top :0;
  ul {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.05);;
    >li {
      display: inline-block;
    }
  }
}

footer#pagefooter {
  margin-top: 60px;
  div.grow {
    text-align: left;
  }
}

.twtr-widget .twtr-img img {
  width: auto;
  height: auto;
}

.form-horizontal .control-group > .field_with_errors > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

ul.thumbnails {
  p {
    word-wrap: break-word;
  }
}
