<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=<%= CGI::escape(search_key)%>" data-widget-id="406022437218689025"><%= search_key%> に関するツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
