<form action="<%= sites_path %>" class="navbar-search pull-left" method="GET">
  <input name="keyword" type="text" value="<%=params[:keyword]%>" placeholder="<%=t('sites._search_form.placeholder')%>" class="search-query">
</form>
