= render('welcome')
.container
  = render('pickups')
  .row
    .col-sm-9
      = render('sites', sites: @sites, title: t('.title'))
    .col-sm-3
      .twitter-widget
        = render('twitter_widget', search_key: '#weloveheroku')
