<%=render 'shared/sns_buttons', :site => Site.new(:name => 'we love heroku', :url => 'welove.herokuapp.com', :hash_tag => 'weloveheroku') %>
<div class="hero-unit">
  <h1><%=t(".h1")%></h1>
  <%=t(".description_html")%>
</div>
<%=render 'sites/index', :sites => @sites %>
